.u-section-title {
  color: $color-violet;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

.u-section-sub {
  color: $color-grey;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 24px;
  font-style: italic;
}