.o-modal {
  @include basic-transition(transform, $duration: 0.5s);

  position: fixed;
  z-index: map-get($z-layers, modal);
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: $color-backdrop;
  }

  &__container {
    position: relative;
    z-index: 2;
    background: $white;
    max-width: 1600px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    padding: 60px;
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__close {
    width: 0px;
    height: 34px;
    cursor: pointer;
    @include basic-transition(transform, 0.4s);
    overflow: hidden;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &__close-icon {
    width: 100%;
    height: auto;
  }

  .o-enquire {
    width: 100%;

    &__container {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    &__title {
      font-size: 40px;
    }
  }

  &.is-active {
    pointer-events: auto;
    opacity: 1;
  }
}
