#o-stage-1 {
  margin-top: 300px;
  height: 300px;
}

#o-stage-2 {
  height: 500px;
}

#o-stage-3 {
  height: 400px;
}

#o-stage-4 {
  height: 500px;
}

#o-stage-5 {
  height: 500px;
}

#o-stage-6 {
  height: 3500px;

  @include media-breakpoint-down(md) {
    height: 2050px;
  }

  @include media-breakpoint-down(sm) {
    height: 1730px;
  }
}

#o-stage-7 {
  height: 400px;
}

#o-stage-8 {
  height: 500px;
}

#o-stage-9 {
  height: 600px;
}

#o-stage-10 {
  height: 400px;
}

#o-stage-11 {
  height: 400px;
}

#o-stage-12 {
  height: 400px;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

#o-stage-13 {
  height: 500px;
}

#o-stage-14 {
  height: 600px;
}

#o-stage-15 {
  height: 500px;
}

#o-stage-16 {
  height: 500px;
}

#o-stage-17 {
  height: 500px;
}

#o-stage-18 {
  height: 100vh;
}
