.o-hero {
  width: 100%;
  min-height: 1030px;
  background: $metro-black;
  position: relative;

  &__container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    overflow: hidden;
  }

  &__banner {
    position: absolute;
    top: -850px;
    right: 0;
    left: -2450px;
    bottom: 0;
    z-index: 1;
    transform: scale(1.08);
  }

  &__banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
  }

  &__sub {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 815px;
    letter-spacing: 0;
    color: #FEFEFF;
    font-size: 24px;

    padding: {
      left: $grid-gutter-width / 2;
      right: $grid-gutter-width / 2;

    }

  }

  &__title {
    color: $white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 100px;
    font-weight: $font-weight-bolder;
  }
}

#stage-1 {
  height: 1350px;
}

