.o-community {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 6;
  pointer-events: none;
  opacity: 0;

  &__content {
    position: absolute;
    top: 55%;
    left: 57%;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: hidden;
    max-width: 670px;

    @include media-breakpoint-down(md) {
      left: 53%;
      max-width: 490px;
    }

    @include media-breakpoint-down(sm) {
      top: 60%;
      left: 48%;
      padding-top: 30px;
      padding-left: 20px;
    }
  }

  &__title {
    color: $metro-white;
    font-size: 72px;
    letter-spacing: -0.14px;
    font-weight: $font-weight-bold;

    @include media-breakpoint-down(md) {
      font-size: 60px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
  }

  &__sub {
    color: $metro-white;
    font-size: 16px;
    line-height: 26px;
    opacity: 0;
  }

  &__intro-container {
    position: absolute;
    top: 52.2%;
    left: 238px;
    width: 883px;
    min-height: 108px;
    transform: translateY(-50%);
    z-index: 4;

    @include media-breakpoint-down(md) {
      top: 46%;
      left: 159px;
      width: 445px;
      min-height: 200px;
    }

    @include media-breakpoint-down(sm) {
      top: 51.3%;
      left: -32px;
    }
  }

  &__intro {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    overflow: hidden;
  }

  &__intro-text {
    white-space: nowrap;
    color: $metro-black;
    font-size: 72px;
    letter-spacing: -0.14px;
    font-weight: $font-weight-bold;


    .mob {
      display: none;
      text-align: center;
    }

    @include media-breakpoint-down(md) {
      font-size: 60px;
      width: 445px;


      .desk {
        display: none;
      }

      .mob {
        display: block;
      }
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
    

  }

  &__image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
    will-change: transform;
    opacity: 0;
  }

  &__image-container-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: $metro-black;
    will-change: transform;
    opacity: 0;
  }

  &__image {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    transform: translate(0, 0);
    will-change: transform;

    img {
      width: 100%;
      height: 100%;
      @include object-fit(cover);

    }

    &--clone {
      opacity: 0;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }


    &--left {
      top: 300px;
      left: 70px;
      width: 600px;
      height: 400px;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &--middle {
      left: 500px;
      top: 550px;
      width: 550px;
      height: 350px;

      @include media-breakpoint-down(md) {
        left: 30px;
        top: auto;
        bottom: 35px;
        width: 450px;
        height: 300px;
      }

      @include media-breakpoint-down(sm) {
        width: 200px;
        height: 140px;
        bottom: 165px;
        left: 20px;
      }
    }

    &--right {
      width: 900px;
      height: 600px;
      top: 150px;
      left: 900px;

      @include media-breakpoint-down(md) {
        left: 185px;
        top: 240px;
        width: 550px;
        height: 400px;
      }

      @include media-breakpoint-down(sm) {
        left: 60px;
        width: 300px;
        height: 240px;
      }
    }

    &--left-1 {
      opacity: 0;

      @include media-breakpoint-up(lg) {
        transform: translate(0) scale(0.95);
        transform-origin: left bottom;
      }
    }

    &--left-2 {
      transform: translateY(700px);
    }

    &--left-3 {
      transform: translateY(700px);
    }

    &--middle-1 {
      opacity: 0;

      @include media-breakpoint-up(lg) {
        transform: translate(0) scale(0.97);
        transform-origin: right bottom;
      }
    }

    &--middle-2 {
      transform: translateY(700px);
    }

    &--middle-3 {
      transform: translateY(700px);
    }

    &--middle-4 {
      transform: translateY(700px);
    }

    &--middle-5 {
      transform: translateY(700px);
    }

    &--right-2 {
      transform: translateY(900px);
    }

    &--right-3 {
      transform: translateY(900px);
    }

    &--intro {
      width: 760px;
      height: 760px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 400px;

      @include media-breakpoint-down(md) {
        width: 500px;
        height: 500px;
      }

      @include media-breakpoint-down(sm) {
        width: 250px;
        height: 250px;
      }
    }
  }
}
