.o-location {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: $metro-white;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  will-change: transform;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $metro-black;
    font-size: 72px;
    z-index: 4;
    font-weight: $font-weight-bolder;
    will-change: transform;

    @include media-breakpoint-down(md) {
      font-size: 60px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      top: 17px !important;
      left: 29px !important;
      transform: translate(0) !important;
    }
  }

  &__sub {
    color: $metro-black;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__map-container {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 400px;
    overflow: hidden;
    z-index: 2;
    will-change: transform;

    @include media-breakpoint-down(md) {
      width: 400px;
      height: 400px;
    }

    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }

  &__map {
    will-change: transform;
    height: 100%;
  }

  &__sidebar {
    z-index: 3;
    padding: 30px;
    position: relative;
    width: 100%;
    height: 650px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-5px, 10px);

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0px;
      left: -100%;
      bottom: 0;
      height: auto;
      width: 660px;
      padding: 50px;
      opacity: 1;
      pointer-events: auto;
      transform: translate(0, 0);
    }

    @include media-breakpoint-down(sm) {
      z-index: 1;
      opacity: 1;
      height: 100%;
      width: 100%;
      pointer-events: auto;
      transform: translate(0, 0);
      background: $light-grey;
    }
  }

  &__sidebar-bg {
    z-index: 1;

    &,
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &::after {
      content: '';
      background: rgba($light-grey, 0.45);
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
      z-index: 1;
    }

    &::before {
      content: '';
      background: $light-grey;
      clip-path: polygon(0 0, 65% 0, 85% 100%, 0% 100%);
      z-index: 2;
    }

    @include media-breakpoint-down(md) {
      &::after {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
      }

      &::before {
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 85%);
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__sidebar-container {
    position: relative;
    z-index: 2;
    max-width: 420px;
    padding-top: 92px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 60px;
    }
  }
}
