#o-stage-1 {
    margin-top: 30px;
    height: 300px;
  }
  #o-stage-2 {
    height: 300px;
  }
  
  #o-stage-3 {
    height: 300px;
  }

  #o-stage-4 {
    height: 300px;
  }

  #o-stage-5 {
    height: 300px;
  }

  #o-stage-6 {
    height: 5000px;
  }

  #o-stage-7 {
    height: 300px;
  }

  #o-stage-8 {
    height: 300px;
  }

  #o-stage-9 {
    height: 300px;
  }

  #o-stage-10 {
    height: 300px;
  }

  // #o-stage-11 {
  //   height: 2000px;
  // }