.o-modal {
  @include basic-transition(transform, $duration: 0.5s);

  position: fixed;
  z-index: map-get($z-layers, modal);
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: $color-backdrop;
  }

  &__container {
    position: relative;
    z-index: 2;
    background: $white;
    max-width: 1600px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    padding: 60px;
  }

  .o-enquire {
    width: 100%;

    &__container {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    &__title {
      font-size: 40px;
    }
  }

  &.is-active {
    transform: translate(-50%, -50%);
    pointer-events: auto;
  }
}
