.o-community {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 6;
  pointer-events: none;
  opacity: 0;

  &__content {
    position: absolute;
    top: 55%;
    left: 57%;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: hidden;
    width: 670px;
  }

  &__title {
    color: $metro-white;
    font-size: 72px;
    letter-spacing: -0.14px;
    font-weight: $font-weight-bold;
  }

  &__sub {
    color: $metro-white;
    font-size: 16px;
    line-height: 26px;
    opacity: 0;
  }

  &__intro-container {
    position: absolute;
    top: 52.2%;
    left: 238px;
    width: 883px;
    min-height: 108px;
    transform: translateY(-50%);
    z-index: 4;
  }

  &__intro {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    overflow: hidden;
  }

  &__intro-text {
    white-space: nowrap;
    color: $metro-black;
    font-size: 72px;
    letter-spacing: -0.14px;
    font-weight: $font-weight-bold;

  }

  &__image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
    opacity: 0;
  }

  &__image-container-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: $metro-black;
    opacity: 0;
  }

  &__image {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    transform: translate(0, 0);

    img {
      width: 100%;
      height: 100%;
      @include object-fit(cover);

    }


    &--left {
      top: 300px;
      left: 70px;
      width: 600px;
      height: 400px;
    }

    &--middle {
      left: 500px;
      top: 550px;
      width: 550px;
      height: 350px;
    }

    &--right {
      width: 900px;
      height: 600px;
      top: 150px;
      left: 900px;
    }

    &--left-1 {
      transform: translate(0) scale(0.95);
      transform-origin: left bottom;
      opacity: 0;
    }

    &--left-2 {
      transform: translateY(700px);
      filter: blur(8px);
    }

    &--left-3 {
      transform: translateY(700px);
      filter: blur(8px);
    }

    &--middle-1 {
      transform: translate(0) scale(0.97);
      opacity: 0;
      transform-origin: right bottom;
    }

    &--middle-2 {
      transform: translateY(700px);
    }

    &--middle-3 {
      transform: translateY(700px);
      filter: blur(8px);
    }

    &--middle-4 {
      transform: translateY(700px);
    }

    &--middle-5 {
      transform: translateY(700px);
      filter: blur(8px);
    }

    &--right-2 {
      transform: translateY(900px);
    }

    &--right-3 {
      transform: translateY(900px);
    }

    &--intro {
      width: 760px;
      height: 760px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 400px;
    }
  }
}
