.o-header {
    width: 100%;
    height: 50px;
    padding: 15px 24px;
    background: $white;
    position: fixed;
    top: 0;
    left: 0%;
    right: 0;
    z-index: map-get($z-layers, header);
}

.o-header__brand {
    img {
        max-width: 165px;
        width: 100%;
        height: auto;
    }
}