.o-rooms {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: $metro-black;
  opacity: 0;
  pointer-events: none;

  &__container {
    width: 100vw;
    height: calc(100% - 50px);
    overflow: hidden;
    position: fixed;
    margin: auto;
    top: 50px !important;
    left: 0px !important;
  }

  &__wrapper {
    width: 950%;
    height: 100%;
  }
}
