.o-security {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: $metro-black;
  display: none;

  &__container {
    max-width: 1588px;
    @include make-container();
    height: 100%;

    @include media-breakpoint-down(md) {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }

  &__row {
    height: 100%;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }

    @include media-breakpoint-down(md) {
      &:last-child {
        align-items: center;
      }
    }
  }

  &__title {
    color: $metro-white;
    font-size: 72px;
    letter-spacing: -0.14px;
    font-weight: $font-weight-bolder;
    will-change: transform;

    @include media-breakpoint-down(md) {
      font-size: 60px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
  }

  &__sub {
    color: $metro-white;
    font-size: 16px;
    line-height: 24px;
    will-change: transform;
    letter-spacing: 0;
  }

  &__image-wrap {
    max-width: 290px;
    width: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 350px;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 150px;
      max-width: 400px;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}
