.c-transportation {
  $root: &;

  max-width: 342px;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    border-radius: 3px;
    background: $medium-grey;
    overflow: hidden;
    z-index: -1;
  }

  &__title {
    color: $dark-grey;
    font-size: 16px;
    font-weight: $font-weight-bolder;
    cursor: pointer;
    margin-bottom: 20px;
    @include basic-transition(0.5s);

    @include media-breakpoint-down(md) {
      margin-top: 7px;
      margin-bottom: 7px;
    }
  }

  &__content-wrapper {
    height: 0px;
    overflow: hidden;
    @include basic-transition(0.5s);
  }

  &__content {
    padding-bottom: 10px;
  }

  &__way {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: $font-weight-bold;
    margin-bottom: 10px;
  }

  &__way-icon {
    margin-bottom: 2px;
    margin-right: 5px;
  }

  &__place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $metro-black;
    font-size: 14px;
    font-weight: $font-weight-light;
    margin-bottom: 10px;
  }

  &__wrapper {
    padding-left: 20px;

    @include media-breakpoint-up(lg) {
      position: relative;
    }

    @include media-breakpoint-down(sm) {
      position: relative;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      bottom: 100%;
      width: 4px;
      border-radius: 3px;
      background: $metro-black;
      @include basic-transition(0.5s);
    }

    &.is-active {

      &::before {
        bottom: 10px;
      }

      @include media-breakpoint-between(sm, md) {
        border-left: 4px solid #242424;

        &::before {
          display: none;
        }

        #{$root}__content-wrapper {
          opacity: 1;
        }
      }

      #{$root}__title {
        color: $metro-black;
      }
    }
  }

  @include media-breakpoint-between(sm, md) {
    max-width: 100%;
    position: relative;

    &__wrapper {
      display: flex;
      margin-left: -1px;
    }

    &__content-wrapper {
      position: absolute;
      top: 0;
      left: 300px;
      opacity: 0;
    }
  }
}
