.c-room {
  $root: &;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 960px;
  height: 560px;
  display: none;
  cursor: pointer;
  background: $metro-white;

  @include media-breakpoint-down(md) {
    left: 50% !important;
    transform: translate(-50%, 0);
    width: 560px;
    height: 360px;
    background: transparent;
  }

  @include media-breakpoint-down(sm) {
    width: 340px;
    height: 230px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2733;
    opacity: 0.2;
    z-index: 2;
    transition: opacity 0.7s;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    box-shadow: 0 0 20px rgba($metro-black, 0.3);
    transition: 0.7s;


    &.is-active {
      opacity: 1;
    }
  }

  &__bg-image {
    width: 100%;
    height: 100%;
    @include object-fit(cover);
  }

  &__content {
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      top: 57%;
      left: 89%;
    }

    @include media-breakpoint-down(sm) {
      top: 74%;
      left: 75%;
      width: 100%;
    }
  }

  &__title {
    color: $metro-white;
    font-size: 100px;
    letter-spacing: -0.14px;
    font-weight: $font-weight-bold;

    @include media-breakpoint-down(md) {
      font-size: 60px !important;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px !important;
    }

    &--fixed {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      opacity: 0;
    }
  }

  &__sub {
    color: $metro-white;
    font-size: 16px;
    line-height: 26px;
  }

  &:not(.c-room--1) {
    #{$root} {
      &__bg {
        opacity: 0;
        pointer-events: none;
        z-index: 1;

        &.is-active {
          opacity: 1;
          pointer-events: auto;
          cursor: auto;
        }

        @include media-breakpoint-down(md) {
          width: 560px;
          height: 360px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        @include media-breakpoint-down(sm) {
          width: 340px;
          height: 230px;
        }
      }

      &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 4;
        transform: translate(-50%, -50%);
        pointer-events: none;

        @include media-breakpoint-down(md) {
          transform: none;
          width: 560px;
          white-space: nowrap;
          left: 0;
          text-align: center;
          top: 130px;
        }

        @include media-breakpoint-down(sm) {
          width: 340px;
          top: 85px;
          left: 0;
        }
      }

      &__price-wrap {
        position: absolute;
        left: 16px;
        bottom: 16px;
        z-index: 4;
        pointer-events: none;
        color: $metro-white;
      }

      &__price-time {
        font-size: 16px;
        letter-spacing: 0.02px;
      }

      &__price {
        font-size: 40px;
        letter-spacing: 0.05px;
        line-height: 41px;
        font-weight: $font-weight-bolder;

        @include media-breakpoint-down(md) {
          font-size: 25px;
          line-height: 1.2;
        }

        @include media-breakpoint-down(sm) {
          font-size: 24px;
        }
      }

      &__sidebar {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 0px;
        overflow: hidden;
        background: rgba(#2A2733, 0.5);
        z-index: 3;
        cursor: auto;

        @include media-breakpoint-down(md) {
          height: 57vh;
          background: $metro-white;
          display: none;
          width: 100%;
        }
      }

      &__sidebar-container {
        white-space: nowrap;
        padding: 30px 40px;

        @include media-breakpoint-down(md) {
          padding: 30px 20px;
          padding-top: 130px;
          display: flex;
          opacity: 0;
          height: 100%;
          margin-top: -20px;
        }

        @include media-breakpoint-down(sm) {
          flex-direction: column;
          padding-top: 100px;
        }
      }

      &__close {
        font-size: 15px;
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        color: $metro-white;
        line-height: 15px;
        cursor: pointer;
        margin-bottom: 130px;

        img {
          width: 16px;
          height: 16px;
          margin-right: 7px;
        }

        @include media-breakpoint-down(md) {
          color: $metro-black;
          position: absolute;
          top: 20px;
          left: 20px;
          margin-bottom: 0;

          img {
            filter: brightness(0.1);
          }
        }
      }

      &__features {
        color: $metro-white;
        margin-bottom: 25px;

        @include media-breakpoint-down(md) {
          color: $metro-black;
          margin-right: 80px;
        }
      }

      &__features-title {
        font-size: 18px;
        font-weight: $font-weight-bold;
        margin-bottom: 8px;
      }

      &__features-row {
        width: 316px;
        @include make-row();
      }

      &__features-col {
        @include make-col-ready();
        @include make-col(6);
      }

      &__feature {
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__btn {
        position: absolute;
        left: 40px;
        width: 285px;
        text-align: center;
        bottom: 30px;
        border: none;
        border-radius: 5px;
        background: $metro-teal;
        color: $metro-white;
        padding: 10px 20px;
        white-space: nowrap;
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        font-size: 15px;

        @include media-breakpoint-down(md) {
          bottom: 40px;
          width: 180px;
          left: 180px;
        }
      }

      &__dots {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        z-index: 6;
        opacity: 0;
        pointer-events: none;
      }

      &__dot {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background: $metro-white;
        margin: 0 4px;
        cursor: pointer;
        transition: width 1s;


        &::before {
          position: absolute;
          content: '';
          width: 16px;
          height: 16px;
          border-radius: 8px;
          background: #2BA19A;
          opacity: 0;
          transition: width 10s;
        }

        &.is-active {
          width: 80px;

          &::before {
            opacity: 1;
            width: 80px;
          }
        }

        @include media-breakpoint-down(sm) {
          &.is-active {
            width: 60px;
          }

          &,
          &::before {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }

  &.is-open {
    @include media-breakpoint-down(md) {
      #{$root} {

        &__title,
        &__price-wrap {
          color: $metro-black;
        }
      }
    }
  }

  &--1 {
    left: 500px;
    width: 760px;
    height: 760px;
    z-index: 4;
    border-radius: 400px;
    overflow: hidden;
    display: block;
    pointer-events: none;
    display: block;

    @include media-breakpoint-down(md) {
      width: 560px;
      height: 560px;
      top: 20vh;
      transform: translate(-50%, -0)
    }

    @include media-breakpoint-down(sm) {
      width: 250px;
      height: 250px;
      top: 30vh;
    }

    #{$root}__title {
      font-size: 72px;

      &--fixed {
        font-size: 100px;

        @include media-breakpoint-down(md) {
          font-size: 60px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 40px;
        }
      }
    }

    #{$root}__sub {
      width: 670px;
      opacity: 0;

      @include media-breakpoint-down(sm) {
        max-width: 346px;
      }
    }
  }

  &--2 {
    left: 1450px;

    @include media-breakpoint-down(md) {
      top: 720px;
    }


    @include media-breakpoint-down(sm) {
      top: 560px;
    }
  }

  &--3 {
    left: 2495px;

    @include media-breakpoint-down(md) {
      top: 1170px;
    }

    @include media-breakpoint-down(sm) {
      top: 850px;
    }
  }

  &--4 {
    left: 3540px;

    @include media-breakpoint-down(md) {
      top: 1620px;
    }

    @include media-breakpoint-down(sm) {
      top: 1140px;
    }
  }

  &--5 {
    left: 4585px;

    @include media-breakpoint-down(md) {
      top: 2075px;
    }

    @include media-breakpoint-down(sm) {
      top: 1430px;
    }
  }

  &--6 {
    left: 5630px;

    @include media-breakpoint-down(md) {
      top: 2530px;
    }

    @include media-breakpoint-down(sm) {
      top: 1720px;
    }
  }

  &--7 {
    left: 6680px;

    @include media-breakpoint-down(md) {
      top: 2990px;
    }

    @include media-breakpoint-down(sm) {
      top: 2015px;
    }
  }
}
